.page {
    background-color: grey;
    
    padding-left: 10%;
}

.container {
    width: 750px;
}

h1 {
    height: 50px;
    background-color: lightgray;
    margin: 0;
    text-justify: center;
    padding-left: 1%;
}

.option {
    background-color: rgb(183,145,144);
    padding: 1%;
}

.content {
    display: flex;
}

.col1 {
    width: 520px;
    background-color: rgb(164,203,158);
    padding: 0 1% 1% 1%;
}

.col2 {
    width: 230px;
    background-color: rgb(153,153,200);
    padding: 0 1% 1% 1%;
}

.footer {
    background-color: rgb(204,204,159);
    padding: 1%;
}